body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}

.name-hightlight {
    color: orange;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}
section {
    height: 500px;
    padding-bottom: 150px; 
}
.top-bannar {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 700;
}
.middle-bannar{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.exp-area {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
}
.exp-area div{
    box-shadow: 5px 7px 40px grey;
    height: 80%;
}
.exp-area h3 {
    color: orange;
}
#full-web {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer {
    text-align: center;
    color: dimgray;
}